<div class="country__card">
  <svg class="flag"><use src="{{flags.svg}}"></use></svg>
  <h2 class="country-name">{{name.official}}</h2>
  <ul class="country-info">
  <li class="country-info-item">
      <p class="country-capital">{{capital}}</p>
    </li>
  <li class="country-info-item">
      <p class="country-population">{{population}}</p>
    </li>
  <li class="country-info-item">
      <p class="country-languages">{{languages}}</p>
    </li>
  </ul>
</div>