<div class="country__card">
  <svg class="flag"><use src="{{flags.svg}}"></use></svg>
  <h2 class="country-name">{{name.official}}</h2>
  <ul class="country-info">
  <li class="country-info-item">
      <p class="country-capital">Capital: {{capital}}</p>
    </li>
  <li class="country-info-item">
      <p class="country-population">Population: {{population}}</p>
    </li>
  <li class="country-info-item">
      <p class="country-languages">Languages: {{languages}}</p>
    </li>
  </ul>
</div>